@font-face{font-family:'Bliss Light';src:url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Lt/blsw-lt.eot);src:url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Lt/blsw-lt.eot#iefix) format('embedded-opentype'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Lt/blsw-lt.woff2) format('woff2'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Lt/blsw-lt.woff) format('woff'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Lt/blsw-lt.ttf) format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Bliss Regular';src:url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Rg/blsw-rg.eot);src:url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Rg/blsw-rg.eot#iefix) format('embedded-opentype'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Rg/blsw-rg.woff2) format('woff2'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Rg/blsw-rg.woff) format('woff'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Rg/blsw-rg.ttf) format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Bliss Bold';src:url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Bd/blsw-bd.eot);src:url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Bd/blsw-bd.eot#iefix) format('embedded-opentype'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Bd/blsw-bd.woff2) format('woff2'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Bd/blsw-bd.woff) format('woff'),url(/sites/all/themes/optima_legal/fonts/BlsW/BlsW-Bd/blsw-bd.ttf) format('truetype');font-weight:normal;font-style:normal;}

/*
     FILE ARCHIVED ON 09:22:56 Feb 17, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:26:43 Jan 12, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 194.202
  exclusion.robots: 0.158
  exclusion.robots.policy: 0.153
  RedisCDXSource: 1.627
  esindex: 0.006
  LoadShardBlock: 176.604 (3)
  PetaboxLoader3.datanode: 100.205 (5)
  CDXLines.iter: 13.987 (3)
  load_resource: 164.747 (2)
  PetaboxLoader3.resolve: 93.997 (2)
*/